<main class="container">
  <section class="bg__contain">
    <div class="bg__box">
      <p class="bg__text">
        Administra tus eventos de forma fácil y
        <span class="bg__span">rápido.</span>
      </p>
      <p class="bg__legend">
        ¿Quieres tener un mayor control de tus eventos? No te preocupes aquí
        podrás administrarlos de forma intuitiva, con el mayor seguimiento
        estadístico para estar al tanto de todo.
      </p>
    </div>
  </section>
  <section class="contain">
    <router-outlet></router-outlet>
  </section>
</main>
