.login__form {
  margin-top: 15px;
}

.login__welcome {
  width: 90%;

  .login__text {
    --font-size-md: 1.6rem;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-title);
    color: var(--secondary-color-text);
  }

  .login__description {
    font-size: var(--font-size-sm);
    color: var(--primary-util-text);
  }
}

/* FORM */
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 35px;
  width: 400px;

  label {
    margin-bottom: 14px;
    width: 100%;
  }

  .login__span {
    display: block;
    font-size: var(--font-size-sm);
    color: var(--secondary-color-text);
    margin-bottom: 7px;
  }

  .login__input {
    width: 400px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    outline: 1px solid transparent;
  }

  .login__input:focus {
    outline: 1px solid var(--primary-color);
  }

  .login__control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .login__error {
    font-size: var(--font-size-sm);
    color: red;
  }
}

.login__password {
  position: relative;

  .login__eye {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    width: 14px;
    height: 14px;
    cursor: pointer;

    .login__iconEye {
      width: 100%;
      height: 100%;
    }
  }
}

.login__remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login__check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;

  .check__text {
    font-size: var(--font-size-sm);
    color: var(--secondary-color-text);
  }
}

.login__link {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
  border: none;
  background-color: white;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.login__link:hover {
  color: var(--secondary-color);
}

.login__submit {
  margin-top: 35px;
  width: 100%;
  padding: 8px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  border: 1px solid transparent;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: var(--primary-color-text);
  font-weight: var(--font-weight-light);
  transition: 0.3s ease-in;
}

.login__submit:hover {
  color: #667eea;
  background: transparent;
  border: 1px solid #667eea;
}

.login__register {
  margin-top: 15px;
  width: 400px;
  border-radius: var(--border-radius-sm);
  border: none;
  color: #667eea;
  font-weight: var(--font-weight-light);
  background-color: var(--bg);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.login__register:hover {
  color: #764ba2;
}

.login__illustration {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
}
