<section class="login__contain">
  <article class="login__welcome">
    <p class="login__text">Hey, ¡Hola! 👋</p>
    <p class="login__description">
      Ingresa con tu usuario y contraseña con la que te registrates en la
      plataforma.
    </p>
    <form
      class="login__form"
      [formGroup]="miFormulario"
      autocomplete="off"
      (ngSubmit)="sendLogin()"
    >
      <label for="username">
        <span class="login__span">Usuario</span>
        <div class="login__control">
          <input
            type="text"
            class="login__input"
            id="username"
            formControlName="username"
            placeholder="@Lewis Scheneider"
          />
          <span class="login__error" *ngIf="fieldInvalid('username')">
            Este campo es requerido
          </span>
        </div>
      </label>
      <label for="password">
        <span class="login__span">Contraseña</span>
        <div class="login__control">
          <div class="login__password">
            <input
              [type]="typeInput"
              class="login__input"
              id="password"
              formControlName="password"
              placeholder="r3Zege#B7B5S"
            />
            <button type="button" (click)="changeType()" class="login__eye">
              <img
                [src]="changeIcon | image"
                alt="icon"
                class="login__iconEye"
              />
            </button>
          </div>
          <span class="login__error" *ngIf="fieldInvalid('password')">
            Este campo es requerido
          </span>
        </div>
      </label>
      <div class="login__remember">
        <div class="login__check">
          <input type="checkbox" />
          <span class="check__text">Recuérdame</span>
        </div>
        <button type="button" class="login__link">¿Contraseña olvidada?</button>
      </div>
      <button type="submit" class="login__submit">Iniciar Sesión</button>
    </form>
    <button class="login__register" (click)="register()" >¿No tienes cuenta? ¡Vamos! crea una</button>
  </article>
  <img
    src="../../../assets/illustrations/men-login.png"
    alt="illustrations"
    class="login__illustration"
  />
</section>
