.card {
  width: 250px;
  height: 345px;
  border-radius: 12px;
  margin: 0 auto;
  border: 1px solid var(--border-color-box);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;

  .card__contain {
    padding: 15px;
  }

  .card__contain :nth-child(2) {
    margin-top: 15px;
  }

  .card__picture {
    position: relative;
  }

  .card__like {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    padding: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--bg);

    .card__icon {
      width: 100%;
    }
  }

  .card__img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  .card__name {
    font-size: 1.2rem;
  }

  .card__text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    color: var(--primary-util-text);
  }

  .card__btn {
    display: block;
    width: 150px;
    margin: 8px auto 0;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg);
    border: 1px solid var(--border-color-box);
    cursor: pointer;
    transition: 0.3s ease;
  }

  .card__btn:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border: 1px solid transparent;
  }
}
