<div class="animate__animated animate__backInDown popup">
  <h1 class="popup__user">
    !Hola {{ userData.nombre | titlecase }} {{ userData.apellido | titlecase }}¡
    👋
  </h1>
  <picture class="popup__picture">
    <img
      src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
      alt=""
      class="popup__img"
    />
  </picture>
  <p class="popup__role">{{ userData.perfil }}</p>
  <button (click)="logout()" class="popup__logout">Cerrar Sesión</button>
</div>
