<section class="create">
  <article class="create__article">
    <h1 class="create__title">¡Vamos a crear tu evento! 🤩</h1>
    <p class="create__description">
      Escribe los datos básicos que tendrá tu evento.
    </p>
    <form
      class="create__form"
      [formGroup]="miFormulario"
      (ngSubmit)="saveEvent()"
    >
      <label for="nombre" class="create__label">
        <span class="create__span">Nombre</span>
        <input
          type="text"
          class="create__input"
          id="nombre"
          formControlName="nombre"
          placeholder="Reunion hotel magic"
        />
        <span class="create__error" *ngIf="fieldInvalid('nombre')">
          Este campo es requerido
        </span>
      </label>
      <label for="ubicacion" class="create__label">
        <span class="create__span">Ubicación</span>
        <input
          type="text"
          class="create__input"
          id="ubicacion"
          formControlName="ubicacion"
          placeholder="Calle Winston 1234"
        />
        <span class="create__error" *ngIf="fieldInvalid('ubicacion')">
          Este campo es requerido
        </span>
      </label>
      <label for="fecha" class="create__label">
        <span class="create__span">Fecha</span>
        <input
          type="date"
          class="create__input"
          id="fecha"
          formControlName="fecha"
          placeholder="Reunion hotel magic"
        />
        <span class="create__error" *ngIf="fieldInvalid('fecha')">
          Este campo es requerido
        </span>
      </label>
      <button type="button" class="create__btn" (click)="openInvited = true">
        Agregar Invitados
      </button>

      <button type="submit" class="create__btn">Crear evento</button>
    </form>
  </article>
  <div class="create__picture"></div>
</section>

<ng-template #invitadosTemplate>
  <h1 class="hola">Hola</h1>

  <p-table
    [value]="list"
    [(selection)]="selectedRows"
    dataKey="code"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<app-popup-template
  *ngIf="openInvited"
  [template]="invitadosTemplate"
  (onClose)="closeInvited()"
></app-popup-template>
