<aside class="info">
  <div class="header">
    <p class="header__price">$510.000</p>
    <p class="header__start">4.99</p>
  </div>
  <p-divider></p-divider>
  <div class="host">
    <p class="host__title">Anfitrión</p>
    <div class="host__card">
      <picture class="host__picture">
        <img
          src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Avatar"
          class="host__img"
        />
      </picture>
      <div class="host__bio">
        <p class="host__name">Organizado por Brenda</p>
        <p class="host__date">Se incorporó en agosto de 2014</p>
        <p class="host__description">
          Como madre de 4 hijos, que viven en Solana Beach durante 25 años, me
          encanta ayudar a las familias disfrutar de nuestra hermosa zona. Las
          vacaciones son especiales y hacemos todo lo posible para que sean...
        </p>
      </div>
    </div>
    <button class="button__primary host__btn">Administrar Evento</button>
    <button class="button__primary host__btn">Eliminar Evento</button>
    <button class="button__primary host__btn">Modificar Evento</button>
  </div>
</aside>
