.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.475);
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: var(--bg);
  padding: 14px;
  overflow-y: scroll;
}

/* IMAGES */
.pictures {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  overflow: hidden;
}

.pictures__main {
  width: 732px;
  height: 100%;
  border-radius: var(--border-radius-xl);
  flex-grow: 1;
}

.pictures__child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 472px;

  .pictures__children {
    width: 100%;
    height: 232px;
  }
}

.pictures__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* CONTAINER */
.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-top: 15px;

  .event {
    width: 60%;
    height: 100%;
  }

  .preview {
    width: 40%;
    height: 500px;
    position: sticky;
    top: 0;
  }
}

.event__title {
  font-family: "Lora Bold", sans-serif;
  font-size: var(--font-size-md);
  text-align: left;
}

.event__legend {
  font-size: var(--font-size-sm);
  color: var(--primary-util-text);
}

.about__title {
  font-size: var(--font-size-ms);
  font-weight: var(--font-weight-title);
  color: var(--secondary-color-text);
}

.about__description {
  font-size: var(--font-size-sm);
  color: var(--primary-util-text);
}

.about :nth-child(3) {
  margin-top: 8px;
}

.map {
  width: 100%;
  height: 250px;

  .map__title {
    margin-bottom: 15px;
  }

  .i-frame {
    border-radius: var(--border-radius-xl);
    width: 100%;
    height: 200px !important;
  }
}

.backdrop__close {
  position: absolute;
  top: 15px;
  right: 72%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.backdrop__close::before {
  content: url(../../../../assets/icons/close.svg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
