<header class="header" (mouseleave)="disabledPopup(false)">
  <picture class="header__logo">
    <img
      src="../../../../assets/chargebee.svg"
      alt="Logo"
      class="header__img"
    />
  </picture>
  <nav class="header__nav">
    <ul class="header__list">
      <li
        class="header__item"
        *ngFor="let item of menu"
        [routerLink]="item.route"
        routerLinkActive="activeRoute"
      >
        {{ item.name }}
      </li>
    </ul>
  </nav>

  <div class="header__contain">
    <button
      title="Favoritos"
      class="header__favorites"
      (click)="openFavorites()"
    >
      <img
        src="../../../../assets/icons/star.svg"
        alt=""
        class="header__icon"
        [ngStyle]="{ 'width.px': '15' }"
      />
      <span>Favoritos</span>
    </button>
    <button class="header__user" (mouseenter)="openPopup()">
      <img
        src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        alt=""
        class="header__img header__img--width"
      />
    </button>
    <app-popup-user *ngIf="visiblePopup" (listeningPopup)="disabledPopup($event)"></app-popup-user>
  </div>
</header>
